/*-- grands ecrans --*/
@media screen and (min-width: 1400px) {
	article{
		padding: 30px 30px 30px 30px;
	}
	aside{
		margin-left: 30px;
		padding: 25px 25px 25px 25px; 
	}
	.main1 {
		padding: 0px 20px 0px 20px;
	
	}
	.insideLabel {
		width: 250px;
	}	
	.section2InsideLabel {
		width: 300px;
	}
}

